<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppeteam.myapplication">

    <application>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name="ppeteam.myapplication.MyMessage"></service>

        <receiver android:name="ppeteam.myapplication.MessageRecu">
            <intent-filter>
                <action android:name="ppeteam.myapplication.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>

        <receiver android:name="ppeteam.myapplication.MessageReponse">
            <intent-filter>
                <action android:name="ppeteam.myapplication.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
